
 
<div class="col-md-12 ">
  <div class="card">
    <div class="card-body">
      <h5>User Details</h5></div>          
    <div class="container py-2">
      <div class="row">
        
        <div class="input-group col-md-4">
                   <div class="input-group-append">
                    <button class="btn btn-secondary" type="submit">
                      <i class="fa fa-search"></i>
                    </button>
                  </div>
                  <input class="form-control py-2 " placeholder="Search here" type="search" aria-label="Search" (keyup)='search($event.target.value)'> </div>
                  <div class="btn-toolbar text-center well">
          <button type="button" class="btn btn-success btn-color btn-bg-color  col-xs-5 margin-left">
            <i class="fa fa-cloud-upload" aria-hidden="true"></i> Export
          </button>
          <button type="button" class="btn btn-success  col-xs-5 margin-left">
            <i class="fa fa-building-o" aria-hidden="true"></i> CSV
          </button>
          <button type="button" (click)="downloadPdf()" class="btn btn-success   col-xs-5 margin-left">
            <i class="fa fa-file-pdf-o" aria-hidden="true" ></i> PDF
          </button>
          <button type="button"  (click)="exportToExcel()" class="btn btn-success  col-xs-5 margin-left">
            <i class="fa fa-table" aria-hidden="true"></i> Excel
          </button>
          <button type="button" class="btn btn-success col-xs-5 margin-left">
            <i class="fa fa-print" aria-hidden="true"></i>Print
          </button></div>
          <div class="btn-toolbar text-center well">
      
          <button type="button" class="btn btn-success  margin-left">
            <i class="fa fa-home" aria-hidden="true"></i>
            <a routerLink="/dashboard" routerLinkActive="active" class="routerlink" style="color: white;">Home</a> 
  
          </button>
          <button type="button" class="btn btn-success  margin-left">
            <i class="fa fa-plus-square-o" aria-hidden="true"></i>
            <a  routerLink="/user/adduser" routerLinkActive="active" class="routerlink" style="color: white;">Add User</a> 
           
          </button>
       
         
        </div>
     
  </div>
   </div>
    <hr>
    <div class="card-body product-table p-t-35">
      
      <div class="table-responsive">
        
        <table class="table" [mfData]="filteredTableDataArr" #mf="mfDataTable" [mfRowsOnPage]="10">
          <thead class="thead">
            <tr>
              <th width="20%">
                <mfDefaultSorter by="user_id">ID</mfDefaultSorter>
              </th>
              <th width="20%">
                <mfDefaultSorter by="usertypename">User Type</mfDefaultSorter>
              </th>
              
              <th width="20%">
                <mfDefaultSorter by="username">Username</mfDefaultSorter>
              </th>
              <th width="20%">
                <mfDefaultSorter by="first_name">First Name</mfDefaultSorter>
              </th>
              <th width="20%">
                <mfDefaultSorter by="last_name">Last Name</mfDefaultSorter>
              </th> 
              <th width="20%">
                Actions
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let obj of mf.data">
              <td>{{obj.user_id}}</td>
              <td>{{obj.usertypename}}</td>
              
              <td>{{obj.username}}</td>
              <td>{{obj.first_name}}</td>
              <td>{{obj.last_name}}</td>
              <td>
                <button type="button" class="btn btn-primary" (click)="onClickEdit(obj)"> <i class="fa fa-edit"></i></button>
                <button type="button" class="btn btn-danger" (click)="onClickDelete(obj)"> <i class="fa fa-trash"></i></button>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="4">
                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25,50]"></mfBootstrapPaginator>
              </td>
            </tr>
            
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>