
<!-- 
 <div class="btn-toolbar text-center well">
  <button type="button" class="btn btn-success btn-color btn-bg-color  col-xs-5 margin-left">
    <i class="fa fa-truck" aria-hidden="true"></i> Sell
  </button>
  <button type="button" class="btn btn-success btn-color btn-bg-color col-xs-5 margin-left">
    <i class="fa fa-money" aria-hidden="true"></i> Reciept
  </button>
  <button type="button" class="btn btn-success btn-color btn-bg-color  col-xs-5 margin-left">
    <i class="fa fa-credit-card" aria-hidden="true"></i> Payment
  </button>
  <button type="button" class="btn btn-success btn-color btn-bg-color col-xs-5 margin-left">
    <i class="fa fa-shopping-cart" aria-hidden="true"></i> Purchase
  </button>
</div>
 -->
<div class="container">
  <div class="row">

      <div class="col-sm-12">
          <app-card [title]="'Add Category'">
              <form class="form-horizontal form-material" name="form" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()">
                  <div class="card-header">
                      <h2> 
                          <span *ngIf="!isUpdate"></span> 
                          <span *ngIf="isUpdate">Add New</span>
                      </h2>
                      </div>
                      <div class="card-body">
                          <!--  <div class="form-group row">
                              <label class="col-sm-2 col-form-label">Category Id<span
                                class="text-danger font-weight-bold">
                                *</span></label>
                              <div class="col-sm-10">
                                <input type="text" class="form-control" [(ngModel)]="categoryDetail.category_id" name="category_id"
                                required pattern="[a-zA-Z0-9]+" #category_id="ngModel"  
                                [ngClass]="{ 'is-invalid': f.submitted && category_id.invalid, 
                                'is-valid': f.submitted && category_id.valid }"
                               required/>
                               <div *ngIf="f.submitted && category_id.invalid" class="invalid-feedback">
                                <div *ngIf="category_id.errors.required"> Please provide product id</div>
                             
                            <div *ngIf="category_id.errors.pattern">Id should be only in Alphanumeric
                               </div>
                            </div>
                              </div>
                            </div>  -->
                          <div class="form-group row">
                              <label class="col-sm-2 col-form-label">Category Name<span
                                class="text-danger font-weight-bold">
                                *</span></label>
                              <div class="col-sm-10">
                                <input type="text" class="form-control" [(ngModel)]="categoryDetail.categoryname" name="categoryname"
                                required pattern="[a-zA-Z]+" #categoryname="ngModel"  
                                [ngClass]="{ 'is-invalid': f.submitted && categoryname.invalid, 
                                'is-valid': f.submitted && categoryname.valid }"
                               required/>
                               <div *ngIf="f.submitted && categoryname.invalid" class="invalid-feedback">
                                <div *ngIf="categoryname.errors.required"> Please provide Category</div>
                             
                            <div *ngIf="categoryname.errors.pattern">Id should be only in Alphabets
                               </div>
                            </div>
                              </div>
                            </div>
                           
                            <button  class="btn btn-success btn-round">
                              <span *ngIf="!isUpdate">Save</span>
                              <span *ngIf="isUpdate">Update</span>
                          </button>
                  <button class="btn btn-danger btn-round" type="button" appCancelbutton >Cancel</button>
                          </div>
              </form>
          </app-card>
          </div>
      </div>
</div>

