<div class="row">
    <div class="col-sm-12">
        <app-card [title]="'Schedule Visits'" [classHeader]="true">
            <div class="row">
                <div class="col-md-12">
                    <div class="row align-items-end mb-4">
                        <div class="col-md-3">
                            <label for="email">Sales User:</label>
                            <div class="ng-autocomplete">
                                <ng-autocomplete [data]="salesUsers" [searchKeyword]="keyword"
                                    (selected)='selectEvent($event)' (inputChanged)='onChangeSearch($event)'
                                    (inputFocused)='onFocused($event)' [itemTemplate]="itemTemplate"
                                    [notFoundTemplate]="notFoundTemplate" [(ngModel)]="userObj" name="userObj">
                                </ng-autocomplete>

                                <ng-template #itemTemplate let-item>
                                    <a [innerHTML]="item.username"></a>
                                </ng-template>

                                <ng-template #notFoundTemplate let-notFound>
                                    <div [innerHTML]="notFound"></div>
                                </ng-template>
                            </div>
                            <!-- <input type="email" class="form-control" placeholder="Enter name" id="cName"> -->
                        </div>
                        <div class="col-md-3">
                            <label for="email">Customer User:</label>
                            <div class="ng-autocomplete">
                                <ng-autocomplete [data]="vendorLists" [searchKeyword]="customer_keyword"
                                    (selected)='selectEvent($event)' (inputChanged)='onChangeSearch($event)'
                                    (inputFocused)='onFocused($event)' [itemTemplate]="itemTemplate1"
                                    [notFoundTemplate]="notFoundTemplate1" [(ngModel)]="vendor" name="vendor">
                                </ng-autocomplete>

                                <ng-template #itemTemplate1 let-item>
                                    <a [innerHTML]="item.customer_name"></a>
                                </ng-template>

                                <ng-template #notFoundTemplate1 let-notFound>
                                    <div [innerHTML]="notFound"></div>
                                </ng-template>
                            </div>
                            <!-- <input type="email" class="form-control" placeholder="Enter name" id="cName"> -->
                        </div>
                        <div class="col-md-3">
                            <label for="meetingNotes"> Date:</label>
                            <input type="date" class="form-control"/>
                        </div>
                        <div class="col-md-3">
                            <label for="meetingNotes">Time:</label>
                            <input type="time" class="form-control"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 justify-content-start">
                            <div class="btn btn-primary search-btn" (click)="scheduleVisits()">Schedule Visit</div>
                        </div>
                    </div>
                </div>
            </div>
        </app-card>
    </div>
</div>
<ng2-toasty [position]="'top-center'"></ng2-toasty>