.btn-danger{
    margin-left: 20px;
}
.btn-primary{
    background-color: #117e69;
    border: none;
}
.thead{
    background-color: #87ceeb54;
    color: black;background-color: #117e69;
    color: #fff;
    font-family: sans-serif;
}



.btn-secondary{
    background-color: #117e69;
      
       
        height: 34px;
    /* margin-bottom: -12px; */
    margin-top: 1px;
}

.btn-success{
    background-color: #117e69;
  
    border: none;
    height: 35px;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #ddd;
}

.margin-left{
    margin-left: 3px !important;
}
#mySelect{
float: left;
}
.well{
  display: block;
}

.col-form-label {
    font-size: 14px;
    margin-left: 164px;
}
.routerlink{
    font-size: medium !important;}