
 <div class="btn-toolbar text-center well">
  <button type="button" class="btn btn-success btn-color btn-bg-color  col-xs-5 margin-left">
    <i class="fa fa-truck" aria-hidden="true"></i> Sell
  </button>
  <button type="button" class="btn btn-success btn-color btn-bg-color col-xs-5 margin-left">
    <i class="fa fa-money" aria-hidden="true"></i> Reciept
  </button>
  <button type="button" class="btn btn-success btn-color btn-bg-color  col-xs-5 margin-left">
    <i class="fa fa-credit-card" aria-hidden="true"></i> Payment
  </button>
  <button type="button" class="btn btn-success btn-color btn-bg-color col-xs-5 margin-left">
    <i class="fa fa-shopping-cart" aria-hidden="true"></i> Purchase
  </button>
</div>

<div class="row">
  <div class="col-sm-12">
    
  <div class="card" > 
    <i class="fa fa-calculator fa-3x" style="color: #117e69;"  aria-hidden="true">
  </i>
    <div class="card-body" style="margin-top: -66px;
    margin-left: 26px;">
      <h4>Expenses</h4>
      <h5 class="card-title" style="margin-top: -66px;
      margin-left: -2px;">Add Expenses Item</h5>
      <div class="btn-toolbar" style="  margin-left: 810px;
      /* margin-bottom: 40px; */
      margin-top: -45px;">
        <button type="button" class="btn btn-success btn-color btn-bg-color  col-xs-5 margin-left">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Home
        </button>
        <button type="button" class="btn btn-success btn-color btn-bg-color  col-xs-5 margin-left">
          <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Expenses
        </button>
        <button type="button" class="btn btn-success btn-color btn-bg-color  col-xs-5 margin-left">
          <span class="glyphicon glyphicon-time" aria-hidden="true"></span> Add Expenses Item
        </button>
       
      </div>
    </div>
  </div>
  </div>
  </div>
  <div class="row">

    <div class="col-sm-12">
      <app-card [title]="'Manage Expenses Item'">
        <form class="form-horizontal form-material" name="form" #f="ngForm" (ngSubmit)="f.form.valid &&  onSubmit()">
          <div class="card-header">
            <h2> 
            
            </h2>
            </div>
            <div class="card-body">
          <div class="form-group row">
            <label class="col-md-2 col-form-label">Expenses Item
              <span
              class="text-danger font-weight-bold">
              *</span>
            </label>
            <div class="col-md-8">
              <input type="text" class="form-control"  name="rate"
             required/>
            </div>
          </div>
          <button  class="btn btn-success btn-round" style="margin-left: 541px;">
            <span *ngIf="!isUpdate">Save</span>
            <span *ngIf="isUpdate">Update</span>
        </button>

          <button class="btn btn-danger btn-round" type="button" appCancelbutton>Cancel</button>
          </div>
        </form>
      </app-card>
    </div>
<div class="col-md-12 ">
  <div class="card">
    <div class="card-body">
      <h5>User Details</h5>

    </div>          
  
<!-- 
    <div class="ml-auto">
      <form class="form-inline">
        <input class="form-control search-input rounded-0 border-right-0" type="search" aria-label="Search"
          (keyup)='search($event.target.value)'>
        <button class="btn btn-info" type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div> -->

   <!--  <div class="container">
     
      <div class="row">
          <div class="col-6">
              <div class="input-group">
                   <div class="input-group-append">
                    <button class="btn btn-secondary" type="submit">
                      <i class="fa fa-search"></i>
                    </button>
                  </div>
                  <input class="form-control search-input rounded-0 " placeholder="Search here" type="search" aria-label="Search"
                  (keyup)='search($event.target.value)'>
                 
              </div>
          </div>
          <button (click)="downloadPdf()" class="btn btn-success" >Pdf-Export</button>
          <button (click)="exportToExcel()" class="btn btn-success">Excel-Export</button> 
      </div>
  </div>
    -->
    <hr>
   
   
    <div class="btn-toolbar text-center well">
    
      <label id="mySelect" class="">Show</label>
      <select name="select" id="mySelect"class="">
        <option value="opt1">10</option>
        <option value="opt2">25</option>
        <option value="opt3">45</option>
       
        <option value="opt4">50</option>
        <option value="opt4">all</option>
        

      </select>
      <label id="mySelect" class="">entries</label>
      <button type="button" class="btn btn-success btn-color btn-bg-color  col-xs-5 margin-left">
        <i class="fa fa-cloud-upload" aria-hidden="true"></i> Export
      </button>
      <button type="button" class="btn btn-success btn-color btn-bg-color col-xs-5 margin-left">
        <i class="fa fa-building-o" aria-hidden="true"></i> CSV
      </button>
      <button type="button" class="btn btn-success btn-color btn-bg-color  col-xs-5 margin-left">
        <i class="fa fa-file-pdf-o" aria-hidden="true"></i> PDF
      </button>
      <button type="button" class="btn btn-success btn-color btn-bg-color col-xs-5 margin-left">
        <i class="fa fa-table" aria-hidden="true"></i> Excel
      </button>
      <button type="button" class="btn btn-success btn-color btn-bg-color col-xs-5 margin-left">
        <i class="fa fa-print" aria-hidden="true"></i>Print
      </button>
     
            <div class="col-2" style="margin-left: 999px;
            margin-top: -33px;
            margin-bottom: 13px;">
                <div class="input-group">
                     <div class="input-group-append">
                      <button class="btn btn-secondary" type="submit">
                        <i class="fa fa-search"></i>
                      </button>
                    </div>
                    <input class="form-control search-input rounded-0 " placeholder="Search here" type="search" aria-label="Search"
                    (keyup)='search($event.target.value)'>
                   
                </div>
            </div>
          
        </div>
   
    
    <div class="card-body product-table p-t-35">
      
      <div class="table-responsive">
        
        <table class="table" [mfData]="filteredTableDataArr" #mf="mfDataTable" [mfRowsOnPage]="10">
          <thead class="thead">
            <tr>
              <th width="20%">
                <mfDefaultSorter by="user_id">Expenses Name</mfDefaultSorter>
              </th>
              <th width="20%">
                <mfDefaultSorter by="username">Amount</mfDefaultSorter>
              </th>
            
              <th width="20%">
                Actions
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let obj of mf.data">
              <td>Mouse</td>
              <td>100</td>
             
              <td>
                <button type="button" class="btn btn-primary" (click)="onClickEdit(obj)"> <i class="fa fa-edit"></i></button>
                <button type="button" class="btn btn-danger" (click)="onClickDelete(obj)"> <i class="fa fa-trash"></i></button>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="4">
                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25,50]"></mfBootstrapPaginator>
              </td>
            </tr>
            
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>