<div class="button-page">
  <div class="row">

    <div class="col-sm-12">
      <app-card [title]="'CREATEUSERStab' | translate">
        <form class="form-horizontal form-material" name="form" #f="ngForm" (ngSubmit)="f.form.valid &&  onSubmit()">
          <div class="card-header">
            <h2> 
                <span *ngIf="!isUpdate"></span> 
                <span *ngIf="isUpdate">Add New</span>
            </h2>
            </div>
            <div class="card-body">
       <!--    <div class="form-group row">
            <label class="col-sm-2 col-form-label">User Type<span class="text-danger font-weight-bold"> *</span></label>
            <div class="col-sm-10">
              <select name="select" class="form-control">
                <option value="opt1">Select</option>
                <option value="opt2">Admin</option>
                <option value="opt3">Manager</option>
                <option value="opt4">Sales</option>
                <option value="opt4">Vendors</option>


              </select>
            </div>
          </div> -->
          <div class="form-group row">
            <label  for="usertypename" class="col-sm-2 col-form-label">{{'Usertype' | translate}}<span
              class="text-danger font-weight-bold">
              *</span></label>
          
              <div class="col-sm-10">
                <select class="form-control" name="usertypename" [(ngModel)]="userDetail.usertypename"
                    #usertypename="ngModel" [ngClass]="{ 'is-invalid': f.submitted && usertypename.invalid }"
                 >
                    <option *ngFor="let obj of userType" [value]="obj.usertypename">{{obj.usertypename}}
                    </option>
                </select> 
                <div *ngIf="f.submitted && usertypename.invalid" class="invalid-feedback">
                    <div *ngIf="usertypename.errors.required">Requred</div>
                </div>
            </div>
        </div>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label">{{'UserName' | translate}}
              <span
              class="text-danger font-weight-bold">
              *</span>
            </label>
            <div class="col-sm-10">
              <input type="text" class="form-control"  name="username"
              pattern="[a-zA-Z0-9]+"
              [(ngModel)]="userDetail.username" #username="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && username.invalid,
             'is-valid': f.submitted && username.valid}" required />
              <div *ngIf="f.submitted && username.invalid "class="invalid-feedback">
              <div
                  *ngIf="username.errors.required ">Please provide Username</div>
                  <div *ngIf=" username.errors.pattern"> Provide proper username 
                  </div>
          </div>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label">{{'password' | translate}} <span
              class="text-danger font-weight-bold">
              *</span></label>
            <div class="col-sm-10">
              <input type="password" class="form-control" placeholder="Password input" [(ngModel)]="userDetail.password"
               name="password" #password="ngModel" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
              [ngClass]="{ 'is-invalid': f.submitted && password.invalid,  
              'is-valid': f.submitted && password.valid}" required/>
              <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
                 <div  *ngIf="password.errors.required"> Please provide password</div>
                  <div *ngIf="password.errors.pattern">Password must contain minimum eight characters, at least one uppercase letter, one lowercase letter, one number and one special character</div>
                 
         
               </div>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label">{{'FirstName' | translate}} <span
              class="text-danger font-weight-bold">
              *</span></label>
            <div class="col-sm-10">
              <input type="text" class="form-control" [(ngModel)]="userDetail.first_name" name="first_name"
              pattern="[a-zA-Z_]+" #first_name="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && first_name.invalid, 
              'is-valid': f.submitted && first_name.valid }"
              required /> 
              <div *ngIf="f.submitted && first_name.invalid "
              class="invalid-feedback">
              <div
                  *ngIf="first_name.errors.required ">
                  Please provide First name </div>
                  <div *ngIf=" first_name.errors.pattern">
                    Provide alphabets only
                  </div>
                
          </div>
            </div>
          </div>


          <div class="form-group row">
            <label class="col-sm-2 col-form-label">{{'LastName' | translate}}</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" [(ngModel)]="userDetail.last_name" name="last_name">
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label">{{'Email' | translate}} <span
              class="text-danger font-weight-bold">
              *</span></label>
            <div class="col-sm-10">
              <input type="text" class="form-control" [(ngModel)]="userDetail.email" name="email"
              pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" #email="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && email.invalid, 
              'is-valid': f.submitted && email.valid }"
          required />
          
          <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
            <div *ngIf="email.errors.required"> Please provide Email</div>
        <div *ngIf="email.errors.pattern">Email format should be <small  class="text-success"><b>jhon@abc.com</b></small>
        </div>
        </div>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label">{{'Phone' | translate}} <span
              class="text-danger font-weight-bold">
              *</span></label>
            <div class="col-sm-10">
              <input type="text" class="form-control" [(ngModel)]="userDetail.phone" name="phone"
               required pattern="^[0-9()\-+\s]+$" #phone="ngModel" 
               [ngClass]="{ 'is-invalid': f.submitted && phone.invalid, 
               'is-valid': f.submitted && phone.valid }"
              required/>
           
              <div *ngIf="f.submitted && phone.invalid" class="invalid-feedback">
                  <div *ngIf="phone.errors.required"> Please provide phone number</div>
               
              <div *ngIf="phone.errors.pattern"> Phone number should be only numbers
                 </div>
              </div>
            </div>
          </div>
          <button  class="btn btn-success btn-round">
            <span *ngIf="!isUpdate">Save</span>
            <span *ngIf="isUpdate">Update</span>
        </button>

          <button class="btn btn-danger btn-round" type="button" appCancelbutton>Cancel</button>
          </div>
        </form>
      </app-card>
    </div>