<div class="button-page">
    <div class="row">
  
      <div class="col-sm-12">
        <app-card [title]="'create Products'">
          <form class="form-horizontal form-material" name="form" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()">
            <div class="card-header">
              <h2> 
                  <span *ngIf="!isUpdate"></span> 
                  <span *ngIf="isUpdate">Add New</span>
              </h2>
              </div>
              <div class="card-body">
          <!--   <div class="form-group row">
              <label class="col-sm-2 col-form-label">Product Id<span
                class="text-danger font-weight-bold">
                *</span></label>
              <div class="col-sm-10">
                <input type="text" class="form-control" [(ngModel)]="productDetail.product_id" name="product_id"
                required pattern="[a-zA-Z0-9]+" #product_id="ngModel"  
                [ngClass]="{ 'is-invalid': f.submitted && product_id.invalid, 
                'is-valid': f.submitted && product_id.valid }"
               required/>
               <div *ngIf="f.submitted && product_id.invalid" class="invalid-feedback">
                <div *ngIf="product_id.errors.required"> Please provide product id</div>
             
            <div *ngIf="product_id.errors.pattern">Id should be only in Alphanumeric
               </div>
            </div>        
              </div>
            </div> -->

         
              
          <div class="form-group row">
              <label class="col-sm-2 col-form-label">Product Name<span
                class="text-danger font-weight-bold">
                *</span></label>
              <div class="col-sm-10">
                <input type="text" class="form-control" [(ngModel)]="productDetail.productname" name="productname"
                pattern="[a-zA-Z_]+" #productname="ngModel"  
                [ngClass]="{ 'is-invalid': f.submitted && productname.invalid, 
                'is-valid': f.submitted && productname.valid }"
               required/>
               <div *ngIf="f.submitted && productname.invalid" class="invalid-feedback">
                <div *ngIf="productname.errors.required"> Please provide product name</div>
             
            <div *ngIf="productname.errors.pattern">only alphabets allowed
               </div>
            </div>
              </div>
            </div>
  
  
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Cost Price<span
                class="text-danger font-weight-bold">
                *</span></label>
              <div class="col-sm-10">
                <input type="text" class="form-control" [(ngModel)]="productDetail.cost" name="cost"
                pattern="[0-9]*[.]?[0-9]+" #cost="ngModel"  
                [ngClass]="{ 'is-invalid': f.submitted && cost.invalid, 
                'is-valid': f.submitted && cost.valid }"
               required/>
               <div *ngIf="f.submitted && suppliername.invalid" class="invalid-feedback">
                <div *ngIf="suppliername.errors.required"> Please provide cost price</div>
             
            <div *ngIf="suppliername.errors.pattern">only number allowed
               </div>
            </div>
              </div>
            </div>
  
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Supplier Name<span
                class="text-danger font-weight-bold">
                *</span></label>
              <div class="col-sm-10">
                <input type="text" class="form-control" [(ngModel)]="productDetail.suppliername" name="suppliername"
                pattern="[a-zA-Z_]+" #suppliername="ngModel"  
                [ngClass]="{ 'is-invalid': f.submitted && suppliername.invalid, 
                'is-valid': f.submitted && suppliername.valid }"
               required/>
               <div *ngIf="f.submitted && suppliername.invalid" class="invalid-feedback">
                <div *ngIf="suppliername.errors.required"> Please provide supplier name</div>
             
            <div *ngIf="suppliername.errors.pattern">only alphabets allowed
               </div>
            </div>
              </div>
            </div>
      
           
            <div class="form-group row">
              <label  for="categoryname" class="col-sm-2 col-form-label">Category list <span
                class="text-danger font-weight-bold">
                *</span></label>
            
                <div class="col-sm-10">
                  <select class="form-control" name="categoryname" [(ngModel)]="productDetail.categoryname"
                      #categoryname="ngModel" [ngClass]="{ 'is-invalid': f.submitted && categoryname.invalid }"
                   >
                      <option *ngFor="let obj of categoryDetail" [value]="obj.categoryname">{{obj.categoryname}}
                      </option>
                  </select> 
                  <div *ngIf="f.submitted && categoryname.invalid" class="invalid-feedback">
                      <div *ngIf="categoryname.errors.required">Requred</div>
                  </div>
              </div>
          </div>
            <button  class="btn btn-success btn-round">
              <span *ngIf="!isUpdate">Save</span>
              <span *ngIf="isUpdate">Update</span>
          </button>
  <button class="btn btn-danger btn-round" type="button" appCancelbutton >Cancel</button>
  </div>
  
          </form>

        </app-card>
      </div>
  
  
  