<div class="col-md-12 ">
  <div class="card">
    <div class="card-body">
      <h5>Quote Details</h5>

    </div>

<!-- 
    <div class="ml-auto">
      <form class="form-inline">
        <input class="form-control search-input rounded-0 border-right-0" type="search" aria-label="Search"
          (keyup)='search($event.target.value)'>
        <button class="btn btn-info" type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div>
 -->
 <div class="container">
     
  <div class="row">
      <div class="col-4">
          <div class="input-group">
               <div class="input-group-append">
                <button class="btn btn-secondary" type="submit">
                  <i class="fa fa-search"></i>
                </button>
              </div>
              <input class="form-control search-input rounded-0 " placeholder="Search here" type="search" aria-label="Search"
              (keyup)='search($event.target.value)'>
             
          </div>
      </div>
         
      <div class="btn-toolbar text-center well">
        <button type="button" class="btn btn-success btn-color btn-bg-color  col-xs-5 margin-left">
          <i class="fa fa-cloud-upload" aria-hidden="true"></i> Export
        </button>
        <button type="button" class="btn btn-success btn-color btn-bg-color col-xs-5 margin-left">
          <i class="fa fa-building-o" aria-hidden="true"></i> CSV
        </button>
        <button type="button" (click)="downloadPdf()" class="btn btn-success btn-color btn-bg-color  col-xs-5 margin-left">
          <i class="fa fa-file-pdf-o" aria-hidden="true" ></i> PDF
        </button>
        <button type="button"  (click)="exportToExcel()" class="btn btn-success btn-color btn-bg-color col-xs-5 margin-left">
          <i class="fa fa-table" aria-hidden="true"></i> Excel
        </button>
        <button type="button" class="btn btn-success btn-color btn-bg-color col-xs-5 margin-left">
          <i class="fa fa-print" aria-hidden="true"></i>Print
        </button>
      <!--   <button (click)="downloadPdf()" class="btn btn-success" >Pdf-Export</button>
        <button (click)="exportToExcel()" class="btn btn-success">Excel-Export</button>  -->
    </div>
    <div class = "vertical"></div> 
    <div class="btn-toolbar text-center well">
      <button type="button" class="btn btn-success btn-color btn-bg-color  col-xs-5 margin-left">
        <i class="fa fa-home" aria-hidden="true"></i>
        <a routerLink="/dashboard" routerLinkActive="active" class="routerlink" style="color: white;">Home</a> 

      </button>
      <button type="button" class="btn btn-success btn-color btn-bg-color col-xs-5 margin-left">
        <i class="fa fa-plus-square-o" aria-hidden="true"></i>
        <a  routerLink="/quotation/createquotation" routerLinkActive="active" class="routerlink" style="color: white;">Add Quotation</a> 
       
      </button>
   
     
    
    <!--   <button (click)="downloadPdf()" class="btn btn-success" >Pdf-Export</button>
      <button (click)="exportToExcel()" class="btn btn-success">Excel-Export</button>  -->
  </div>
  </div>
</div>


    <hr>
    <div class="card-body product-table p-t-35">
      <div class="table-responsive">
        <table class="table" [mfData]="filteredTableDataArr" #mf="mfDataTable" [mfRowsOnPage]="10">
          <thead class="thead">
            <tr>
              <th width="20%">
                <mfDefaultSorter by="quotationnumber">Quotation number</mfDefaultSorter>
              </th>
              <th width="20%">
                <mfDefaultSorter by="customername">Customer Name</mfDefaultSorter>
              </th>
              <th width="20%">
                <mfDefaultSorter by="mobile">Mobile</mfDefaultSorter>
              </th>
              <th width="20%">
                <mfDefaultSorter by="quotationdate">Quotation Date</mfDefaultSorter>
              </th>
              <th width="20%">
                <mfDefaultSorter by="productname">Product Name</mfDefaultSorter>
              </th>
              <th width="20%">
                <mfDefaultSorter by="categoryname">Category Name</mfDefaultSorter>
              </th>
           


              <th width="20%">
                Actions
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let obj of mf.data">
              <td>{{obj.quotationnumber}}</td>
              <td>{{obj.customername}}</td>
              <td>{{obj.mobile}}</td>
              <td>{{obj.quotationdate}}</td>
              <td>{{obj.productname}}</td>
              <td>{{obj.categoryname}}</td>
        
              <td>
                <button type="button" class="btn btn-primary" (click)="onClickEdit(obj)"> <i
                    class="fa fa-edit"></i></button>
                <button type="button" class="btn btn-danger" (click)="onClickDelete(obj)"> <i
                    class="fa fa-trash"></i></button>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="4">
                <mfBootstrapPaginator [rowsOnPageSet]="[10,25,50]"></mfBootstrapPaginator>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>