<div class="btn-toolbar text-center well">
  <button type="button" class="btn btn-success btn-color btn-bg-color  col-xs-5 margin-left">
    <i class="fa fa-truck" aria-hidden="true"></i> Sell
  </button>
  <button type="button" class="btn btn-success btn-color btn-bg-color col-xs-5 margin-left">
    <i class="fa fa-money" aria-hidden="true"></i> Reciept
  </button>
  <button type="button" class="btn btn-success btn-color btn-bg-color  col-xs-5 margin-left">
    <i class="fa fa-credit-card" aria-hidden="true"></i> Payment
  </button>
  <button type="button" class="btn btn-success btn-color btn-bg-color col-xs-5 margin-left">
    <i class="fa fa-shopping-cart" aria-hidden="true"></i> Purchase
  </button>
</div>

<div class="row">
<div class="col-sm-12">
  
<div class="card" > 
  <i class="fa fa-calculator fa-3x" style="color: #117e69;"  aria-hidden="true">
</i>
  <div class="card-body" style="margin-top: -66px;
  margin-left: 26px;">
    <h4>Expenses</h4>
    <h5 class="card-title" style="margin-top: -66px;
    margin-left: -2px;">Add Expenses</h5>
    <div class="btn-toolbar" style="  margin-left: 843px;
    /* margin-bottom: 40px; */
    margin-top: -45px;">
      <button type="button" class="btn btn-success btn-color btn-bg-color  col-xs-5 margin-left">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Home
      </button>
      <button type="button" class="btn btn-success btn-color btn-bg-color  col-xs-5 margin-left">
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Expenses
      </button>
      <button type="button" class="btn btn-success btn-color btn-bg-color  col-xs-5 margin-left">
        <span class="glyphicon glyphicon-time" aria-hidden="true"></span> Add Expenses
      </button>
     
    </div>
  </div>
</div>
</div>
</div>

<button type="button" class="btn btn-success" style="margin-left: 1065px; margin-bottom: 30px;">
  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Manage Expenses
</button>

<div class="button-page">
  <div class="row">

    <div class="col-sm-12">
      <app-card [title]="'Add Expenses'">
        <form class="form-horizontal form-material" name="form" #f="ngForm" (ngSubmit)="f.form.valid &&  onSubmit()">
          <div class="card-header">
            <h2> 
            
            </h2>
            </div>
            <div class="card-body">
                  
          <div class="form-group row">
            <label class="col-md-2 col-form-label">Date
              <span
              class="text-danger font-weight-bold">
              *</span>
            </label>
            <div class="col-md-8">
              <input type="text" class="form-control"  name="Date" required />
           
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-2 col-form-label">Expenses Item<span class="text-danger font-weight-bold"> *</span></label>
            <div class="col-md-8">
              <select name="select" class="form-control">
                <option value="opt1">Select</option>
                <option value="opt2">Books</option>
                <option value="opt3">coffee</option>
                <option value="opt4">clothes</option>
                <option value="opt4">Mouse</option>
                <option value="opt4">computers</option>


              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-2 col-form-label">Amount
              <span
              class="text-danger font-weight-bold">
              *</span>
            </label>
            <div class="col-md-8">
              <select class="custom-select" id="inputGroupSelect01">
              
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="1">4</option>
                <option value="2">5</option>
                <option value="3">6</option>
                <option value="1">8</option>
                <option value="2">9</option>
                <option value="3">10</option>
              </select>
            
            
            </div>
          </div>
         

          <button  class="btn btn-success btn-round" style="margin-left: 541px;">
            <span *ngIf="!isUpdate">Save</span>
            <span *ngIf="isUpdate">Update</span>
        </button>

          <button class="btn btn-danger btn-round" type="button" appCancelbutton>Cancel</button>
          </div>
        </form>
      </app-card>
    </div>