.btn-danger{
    margin-left: 20px;
}
.btn-primary{
    background-color: #117e69;
    border: none;
}
.thead{
    background-color: #87ceeb54;
    color: black;background-color: #117e69;
    color: #fff;
    font-family: sans-serif;
}


.btn-secondary{
    background-color: #117e69;
    height: 35px;
    margin-top: 0px;
}

.btn-success{
    background-color: #117e69;
  
    border: none;
    height: 35px;
   
}



.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #ddd;
}


.margin-left{
   
    margin-left: 4px !important;
    margin-bottom: auto;
    margin-top: 4px;
}
.well1{
    display: block;
    /* min-height: 0px; */
    /* padding: 0px; */
    /* margin-bottom: 0px; */
    /* background-color: white; */
    /* border: none; */
    /* border-radius: 4px; */
    /* box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05); */
    margin-left: 346px;
    margin-top: -4px;

  }
  
    .well {
        display: block;
    }

  
  .btn i {
      margin-right: 1px;
  }
  
 
  .btn .fa.fa-sm {
    font-size: 1rem;
    margin-top: -5px;
    }
    .btn-info{
background-color: #15591c;
border: none;
    }
    .routerlink{
        font-size: medium !important;}