<div class="button-page">
  <div class="row">

    <div class="col-sm-12">
      <app-card [title]="'create Quotation'">
        <form class="form-horizontal form-material" name="form" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()">
          <div class="card-header">
            <h2> 
                <span *ngIf="!isUpdate"></span> 
                <span *ngIf="isUpdate">Add New</span>
            </h2>
            </div>
            <div class="card-body">
          <div class="form-group row">
              <label class="col-sm-2 col-form-label">Quotation Number<span class="text-danger font-weight-bold"> *</span>
              </label>
              <div class="col-sm-10">
                <input type="text" class="form-control" [(ngModel)]="quoteDetail.quotationnumber" name="quotationnumber"
                required pattern="[0-9]+" #quotationnumber="ngModel"  
                [ngClass]="{ 'is-invalid': f.submitted && quotationnumber.invalid, 
                'is-valid': f.submitted && quotationnumber.valid }"
               required/>
               <div *ngIf="f.submitted && quotationnumber.invalid" class="invalid-feedback">
                <div *ngIf="quotationnumber.errors.required"> Please provide Quotation number</div>
             
            <div *ngIf="quotationnumber.errors.pattern">It should be only in numeric
               </div>
            </div>
              </div>
            </div>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Customer Name
              <span
              class="text-danger font-weight-bold">
              *</span>
            </label>
            <div class="col-sm-10">
              <input type="text" class="form-control" [(ngModel)]="quoteDetail.customername" name="customername"
              pattern="[a-zA-Z_]+" #customername="ngModel"  
              [ngClass]="{ 'is-invalid': f.submitted && customername.invalid, 
              'is-valid': f.submitted && customername.valid }"
             required/>
             <div *ngIf="f.submitted && customername.invalid" class="invalid-feedback">
              <div *ngIf="customername.errors.required"> Please provide Vendor name</div>
           
          <div *ngIf="customername.errors.pattern">only alphabets allowed
             </div>
          </div> 
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Mobile <span
              class="text-danger font-weight-bold">
              *</span></label>
            <div class="col-sm-10">
              <input type="text" class="form-control" [(ngModel)]="quoteDetail.mobile" name="mobile"
              required pattern="^[0-9()\-+\s]+$" #mobile="ngModel" 
              [ngClass]="{ 'is-invalid': f.submitted && mobile.invalid, 
              'is-valid': f.submitted && mobile.valid }"
             required/>
          
             <div *ngIf="f.submitted && mobile.invalid" class="invalid-feedback">
                 <div *ngIf="mobile.errors.required"> Please provide phone number</div>
              
             <div *ngIf="mobile.errors.pattern"> Phone number should be only numbers
                </div>
             </div>
            </div>
          </div>
        
          

          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Quotation Date
              <span
              class="text-danger font-weight-bold">
              *</span>
            </label>
            <div class="col-sm-10">
              <input type="text" class="form-control"  [(ngModel)]="quoteDetail.quotationdate" name="quotationdate"
              pattern="^([0-2][0-9]|(3)[0-1])(\/)(((0)[0-9])|((1)[0-2]))(\/)\d{4}$" #quotationdate="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && quotationdate.invalid, 
              'is-valid': f.submitted && quotationdate.valid }"
             required/>
          
             <div *ngIf="f.submitted && quotationdate.invalid" class="invalid-feedback">
                 <div *ngIf="quotationdate.errors.required"> Please provide quotation date</div>
              
             <div *ngIf="quotationdate.errors.pattern"> date should be in (dd/mm/yyyy) format
                </div>
             </div>
            
            </div>
          </div>


          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Product Name
              <span
              class="text-danger font-weight-bold">
              *</span>
            </label>
            <div class="col-sm-10">
              <input type="text" class="form-control"  [(ngModel)]="quoteDetail.productname" name="productname"
              pattern="[a-zA-Z_]+" #productname="ngModel"  
              [ngClass]="{ 'is-invalid': f.submitted && productname.invalid, 
              'is-valid': f.submitted && productname.valid }"
             required/>
             <div *ngIf="f.submitted && productname.invalid" class="invalid-feedback">
              <div *ngIf="productname.errors.required"> Please provide Product name</div>
           
          <div *ngIf="productname.errors.pattern">only alphabets allowed
             </div>
          </div> 
            </div>
          </div>
          <div class="form-group row">
            <label  for="categoryname" class="col-sm-2 col-form-label">Category Name <span
              class="text-danger font-weight-bold">
              *</span></label>
          
              <div class="col-sm-10">
                <select class="form-control" name="categoryname" [(ngModel)]="quoteDetail.categoryname"
                    #categoryname="ngModel" [ngClass]="{ 'is-invalid': f.submitted && categoryname.invalid }"
                 >
                    <option *ngFor="let obj of categoryDetail" [value]="obj.categoryname">{{obj.categoryname}}
                    </option>
                </select> 
                <div *ngIf="f.submitted && categoryname.invalid" class="invalid-feedback">
                    <div *ngIf="categoryname.errors.required">Requred</div>
                </div>
            </div>
        </div>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Quantity
              <span
              class="text-danger font-weight-bold">
              *</span>
            </label>
            <div class="col-sm-10">
              <input type="text" class="form-control" [(ngModel)]="quoteDetail.qnty" name="qnty"
              required pattern="[0-9]+" #qnty="ngModel"  
              [ngClass]="{ 'is-invalid': f.submitted && qnty.invalid, 
              'is-valid': f.submitted && qnty.valid }"
             required/>
             <div *ngIf="f.submitted && qnty.invalid" class="invalid-feedback">
              <div *ngIf="qnty.errors.required"> Please provide Quantity</div>
           
          <div *ngIf="qnty.errors.pattern">It should be only in numeric
             </div>
          </div> 
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Rate
              <span
              class="text-danger font-weight-bold">
              *</span>
            </label>
            <div class="col-sm-10">
              <input type="text" class="form-control" [(ngModel)]="quoteDetail.rate" name="rate"
              pattern="[0-9]*[.]?[0-9]+" #rate="ngModel"  
              [ngClass]="{ 'is-invalid': f.submitted && rate.invalid, 
              'is-valid': f.submitted && rate.valid }"
             required/>
             <div *ngIf="f.submitted && rate.invalid" class="invalid-feedback">
              <div *ngIf="rate.errors.required"> Please provide rate</div>
           
          <div *ngIf="rate.errors.pattern">only number allowed
             </div>
          </div>
            </div>
          </div>

          <div class="form-group row">
              <label class="col-sm-2 col-form-label">Discount(%) <span
                class="text-danger font-weight-bold">
                *</span></label>
              <div class="col-sm-10">
                <input type="text" class="form-control" [(ngModel)]="quoteDetail.discount" name="discount"
                required pattern="[0-9%]+" #discount="ngModel"  
                [ngClass]="{ 'is-invalid': f.submitted && discount.invalid, 
                'is-valid': f.submitted && discount.valid }"
               required/>
               <div *ngIf="f.submitted && discount.invalid" class="invalid-feedback">
                <div *ngIf="discount.errors.required"> Please provide discount</div>
             
            <div *ngIf="discount.errors.pattern">It should be only in numeric
               </div>
            </div>
              </div>
            </div>
            
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Total <span
                class="text-danger font-weight-bold">
                *</span></label>
              <div class="col-sm-10">
                <input type="text" class="form-control" [(ngModel)]="quoteDetail.total" name="total"
                pattern="[0-9]*[.]?[0-9]+" #total="ngModel"  
                [ngClass]="{ 'is-invalid': f.submitted && total.invalid, 
                'is-valid': f.submitted && total.valid }"
               required/>
               <div *ngIf="f.submitted && total.invalid" class="invalid-feedback">
                <div *ngIf="total.errors.required"> Please provide Total</div>
             
            <div *ngIf="total.errors.pattern">only number allowed
               </div>
            </div>
              </div>
            </div>
            <button  class="btn btn-success btn-round">
         
              <span *ngIf="!isUpdate">Save</span>
              <span *ngIf="isUpdate">Update</span>

            
          </button>
          <!--   <button class="btn btn-success btn-round" >
              
              <span *ngIf="isUpdate">save</span> 
              <span *ngIf="!isUpdate"></span></button> -->

          <button class="btn btn-danger btn-round" type="button" appCancelbutton>Cancel</button>
          </div>
          </form>

      </app-card>
    </div>


