
<div class="row">
  <div class="col-sm-12">
    <app-card [title]="'Know your location'" [classHeader]="true">
      <div class="row">
        <div class="col-md-12">
          <agm-map style="height: 335px;" [latitude]="latitude" [longitude]="longitude" [zoom]="zoom"
            (mapClick)="mapClicked($event)">
            <agm-marker [latitude]="latitude" [longitude]="longitude" (click)="onClickMarker(infoWindow, $event)">
              <agm-info-window *ngIf="isUpdate" #infoWindow [latitude]="latitude" [longitude]="longitude">
                <div>
                  <h6>Email: {{customerVisit.email}}</h6>
                  <br />
                  <h6>Name: {{customerVisit.customer_name}}</h6>
                  <a (click)="openMapInNewTab(latitude,longitude)"> More</a>
                </div>
              </agm-info-window>
            </agm-marker>
          </agm-map>
        </div>
        <div class="col-md-8 mt-4">
          <form>
            <div class="row">
              <div class="col-md-6 form-group">
                <label for="email">Customer name:</label>
                <div class="ng-autocomplete">
                  <ng-autocomplete [data]="customers" [searchKeyword]="keyword"
                    (selected)='selectEvent($event)' (inputChanged)='onChangeSearch($event)'
                    (inputFocused)='onFocused($event)' [itemTemplate]="itemTemplate"
                    [notFoundTemplate]="notFoundTemplate" [(ngModel)]="customer_name" name="customer_name"
                    [disabled]="isUpdate">
                  </ng-autocomplete>

                  <ng-template #itemTemplate let-item>
                    <a [innerHTML]="item.customer_name"></a>
                  </ng-template>

                  <ng-template #notFoundTemplate let-notFound>
                    <div [innerHTML]="notFound"></div>
                  </ng-template>
                </div>
                <!-- <input type="email" class="form-control" placeholder="Enter name" id="cName"> -->
              </div>
              <div class="col-md-6 form-group">
                <label for="phone">Phone:</label>
                <input type="text" class="form-control" [(ngModel)]="customerVisit.phone" name="phone" readonly>
              </div>
              <div class="col-md-6 form-group">
                <label for="email">Email:</label>
                <input type="text" class="form-control" [(ngModel)]="customerVisit.email" name="email" readonly>
              </div>
              <div class="col-md-6 form-group">
                <label for="firstName">First Name:</label>
                <input type="text" class="form-control" [(ngModel)]="customerVisit.first_name" name="first_name"
                  readonly>
              </div>
              <div class="col-md-6 form-group">
                <label for="lastName">Last Name:</label>
                <input type="text" class="form-control" [(ngModel)]="customerVisit.last_name" name="last_name" readonly>
              </div>
              <div class="col-md-12 form-group">
                <label for="address">Address:</label>
                <input type="text" class="form-control" [(ngModel)]="customerVisit.address" name="address" readonly>
              </div>
              <div class="col-md-12 form-group">
                <label for="meetingNotes">Meeting Notes:</label>
                <input type="text" class="form-control" [(ngModel)]="customerVisit.visits_note" name="visits_note">
              </div>
              <div class="col-md-12">
                <button type="submit" class="btn btn-primary" (click)="saveVisit()">
                  <span *ngIf="isUpdate">Update</span>
                  <span *ngIf="!isUpdate">Save</span>
                </button>
                <!-- <button type="button" class="btn btn-warning ml-2" (click) = "clearVisit()">Clear</button> -->
              </div>
            </div>
          </form>

        </div>
      </div>
    </app-card>
  </div>
</div>
<ng2-toasty [position]="'top-center'"></ng2-toasty>